*{font-family: sans-serif;}
a,h1,h2,h3{font-family: serif;}
h2{font-size: 1.25em;}
a{text-decoration: none;}

#testsContent
{
    margin: auto;
    width:560px;
}
header{text-align: center;}
body img
{
    width: 80%;
    max-width: 785px;
}
nav{text-align: center;}
nav h3, nav a
{
    display: inline-block;
    padding: .3em;
    text-align: center;
}
nav a:visited
{
    color: blue;
}
.abp
{
    width: 10%;
    max-width: 80px
}
.adCode
{
    width: 60%;
    max-width: 600px
    
}
#thatEasy{max-width: 470px;}

/*Styling for the Toggle Video Buttons*/
#hide1, #show2, #show3, #vid1{}
#show1, #hide2, #hide3, #vid2, #vid3{display: none;}
.video
{
    clear: left;
    float: left;
}
.vidButton
{
    
    padding:3px;
    margin:.1em 47px;
    text-align: center;
    width: 90px;
    
}

/*for the experimental script
#blank1, #show2, #show3, #vid1{}
#show1, #hide1, #hide2, #hide3, #blank2, #blank3, #vid2, #vid3{display: none;}
*/
    